{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#" style="line-height: 2; color: #FFFFFF;">Geprek Lensu</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:create_product' %}" style="color: #FFFFFF;">Tambah Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:logout' %}" style="color: #FFFFFF;">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="body">
        <div class="text">
            <h1>Halo, {{ name }} dari kelas {{ class }}! ^____^</h1>
            {% with item_count=products|length %}
                <h5>Kamu menyimpan {{ item_count }} item pada aplikasi ini</h5>
            {% endwith %}
            <p>Sesi Login Terakhir: {{ last_login }}</p>
        </div>

        <div class="row">
            {% for product in products %}
                <div class="cardbox">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.menu }}</h5>
                        <p class="card-text">Harga: {{ product.price }}</p>
                        <p class="card-text">Jumlah Stok: <span id="stock{{ product.id }}">{{ product.stock }}</span></p>
                        <p class="card-text">{{ product.description }}</p>
                        <div class="text-center">
                            <a href="{% url 'main:add_stock' product.id %}" class="btn btn-primary btn-sm">Tambah</a>
                            <a href="{% url 'main:reduce_stock' product.id %}" class="btn btn-warning btn-sm">Kurang</a>
                            <a href="{% url 'main:delete_product' product.id %}" class="btn btn-danger btn-sm">Hapus</a>
                            <a href="{% url 'main:edit_product' product.id %}" class="btn btn-info btn-sm">Edit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <br />

    </div>
    <style>
        .navbar {
            background-color: #382B3D;
            padding: 0;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
        }

        .body {
            max-width: 1440px;
            padding-right: 20px;
            padding-left: 20px;
            background-image: url('https://wallpapercave.com/wp/wp8855577.jpg');
        }

        .text {
            color: #ffffff;
            padding-top: 40px;
            padding-left: 50px;
            font-family: 'Inter', sans-serif;
        }
        .row {
            padding: 40px;
            padding-left: 40px;
            padding-right: 40px;
        }
        .cardbox {
            width: 380px;
            height: 200px;
        }
        .card-body {
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            font-family: 'Inter', sans-serif;
        }

        .cookie {
            color: #ffffff;
            padding-top: 40px;
            padding-left: 50px;
            font-family: 'Inter', sans-serif;
        }
    </style>
    
{% endblock content %}
